build/
bin/
obj/
Debug/
Release/
.vs/
CMakeFiles/
CMakeCache.txt
Makefile

.vscode/
.idea/
.user
.suo
.ncb

*.o
*.obj
*.exe
*.out
*.dll
*.pdb
*.lib
*.a
*.so

*.d
*.tc

*.log
*.bak
*.tmp
*.swp
*.DS_Store
Thumbs.db

*.iml 
*.userprefs
*.json
*.vcxproj.user
*.DotSettings.user